<%- include( '../partials/header') %>
<div class="song-box">
    <div class="song-title-artist">
        <p class="song-title"><%= song.title %></p>
        <p class="song-artist"><%= song.artist %></p>
    </div>
    <div>
        <p class="song-streams"><%= song.streams %></p>
    </div>
</div>
<div class="buttons">
    <button onclick="location.href='http\:\/\/localhost:8000/top50/song/' + '<%- (songNum - 1) %>'">Previous</button>
    <button onclick="location.href='http\:\/\/localhost:8000/top50/song/' + (parseInt('<%= songNum  %>') + 1)">Next</button>
</div>
<%- include( '../partials/footer') %>