<%- include( '../partials/header') %>
<div class="song-box">
    <div class="song-title-artist">
        <p class="song-title"><%= song.title %></p>
        <p class="song-artist"><%= song.artist %></p>
    </div>
    <div>
        <p class="song-streams"><%= song.streams %></p>
    </div>
</div>
<%- include( '../partials/footer') %>